.reservations h3{
    font-family: "Markazi Text", serif;
    color: white;
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    text-decoration: underline #F4CE14;
}


.reservations-main{
    min-height: max-content;
    background-color: var(--primary-color);
    flex: 1;
}

.reservations{
    max-width: 900px;
    margin: 100px auto 50px;
    padding: 50px 0 30px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: solid white 3px;
    border-radius: 10px;
}


.reservation-form{
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
}
input, select{
  width: 100%;
  padding: 0.6rem 0.5rem 0.6rem;
  margin: 10px;
  border: 0;
  font-family: 'Karla', sans-serif;
  color: #495E57;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
}

label{
    width:50%;
    display: block;
}

select{
    width:110%;
}

button{
    margin-top: 50px;
}


.reservation-form .submit-button,
.note-input {
    grid-column: span 2 / span 2;
}

.home-btn {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.confirmation-text{
    color: white;
    text-align: center;
    margin-top: 30px;
}



