:root {
  --primary-color:#495E57;
  --secondary-color: #F4CE14;
}

* {
  margin: 0;
  padding:0;
}

html,body,#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

h2{
  color: white;
  font-family: "Markazi Text", serif;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

button{
  height: 60px;
  width: 200px;
  border: 0;
  border-radius: 16px;
  color:#333333;
  background-color: var(--secondary-color);
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
button:hover{
  color: white;
  background-color: #EE9972;
}

.logo-img{
  height: 65px;
  width: 216px;
}
/* Header and Nav Section: */

header{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}


nav {
  background-color: white;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: #333333;
}
.burger-menu {
  display: none; /* Hide burger menu by default */
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: transform 0.3s ease;
}

.open {
  transform:initial;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}


/* Home Section: */

.homepage-main{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}
.homepage{
  max-width: 900px;
  padding: 80px 0 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.homepage-img{
  height: 475px;
  width: 375px;
  border-radius: 25px;
  position: absolute;
  top: 40px;
  right: 0px;
  filter: drop-shadow(10px 10px 0 var(--secondary-color));
}
.homepage-img-container{
  margin: 50px auto auto;
}

.yellow-header{
  color: var(--secondary-color);
  margin-bottom: 0;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 600;
}

.white-subheader{
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
}

p.white-parag{
  color:white;
  margin-bottom: 80px;
  max-width: 65ch;
  font-size: 18px;
  font-weight: 500;
}


/* Specials section: */

.specials-main{
  width:100% ;
  max-width: 900px;
  margin: 0 auto 100px;
  display: grid;
  grid-template-rows: 2 auto;
  align-items: center;
}
div.specials-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 50px;
}
h3.specials{
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  color: #333333;
}

.special-menu-items{
  display: flex;
  justify-content: space-evenly;
  gap:25px;
  align-items: center;

}
.special-menu-item{
  flex:33.33%;
  height: 440px;
  width: auto;
  background-color: #EDEFEE;
  border-radius: 16px 16px 0 0;
}
.specials-image{
  height:180px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.specials-h4{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 30px;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}

h4.specials-item-title{
  font-weight: 800;
}

h4.price-tag{
  margin-right: 0;
  color:#EE9972;
  font-weight: 800;
}
.specials-text{
  height: 170px;
  position: relative;
}
p.specials-description{
  color: var(--primary-color);
  font-size: 16px;
  padding:0 20px;
}
p.order-link{
  color:#333333;
  font-weight: 800;
  padding:0 20px;
  position: absolute;
  bottom: 0;
}
.specials-text img{
  position: absolute;
  bottom:0;
  left:155px;
}

/* Customers Say section: */

.customers-say-main{
  background-color: #EE9972;
}
.customers-say{
  width:100% ;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.customers-say-main h2{
  padding: 50px 0;
}
.rating-card{
  height:auto;
  width: auto;
  border-radius: 16px;
  background-color: #EDEFEE;
  margin-bottom: 100px;
}
.customer-image{
  height: auto;
  width: 60px;
  border-radius: 50%;
  margin: 20px 10px auto 20px;
  float: left;
}
.rating-card h6{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color:var(--primary-color);
  padding-top:20px;
  padding-bottom: 5px;
  text-align: left;
}
.five-stars-img{
  width: 45%;
  padding-bottom: 20px;
}
.rating-card p{
  color: #333333;
  padding:20px;
}

/* About Section: */

.about{
  width: 100%;
  max-width: 900px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.about h1{
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 600;
  color: var(--primary-color);
}
.about h3{
  margin-top: 0;
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 600;
}
.about-p {
  width: 30ch;
  padding-top: 40px;
}
.about-p p{
  max-width: 65ch;
  line-height: 1.5;
}
.owners-images{
  position:relative;
}
.owners-image{
  border-radius: 16px;
  height: 400px;
  width: auto;
}

.owners-image-1{
  position: absolute;
  filter: drop-shadow(10px 10px 0 var(--secondary-color));
}

.owners-image-2{
  position: relative;
  top:10%;
  right: 90%;
  z-index: -1;
  filter: drop-shadow(10px 10px 0 #ee9972);
}

/* Call To Action Section: */

.call-to-action-main{
  background-color: var(--primary-color);
}

.call-to-action{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 0 50px;
  display: grid;
  grid-template-rows: 3fr auto;
  place-items: center;
  text-align: center;
}
.call-to-action h2{
  color: white;
  text-shadow: 1px 1px 1px var(--secondary-color);
}

.call-to-action p{
  color: white;
  padding: 20px 0 100px;
  font-size: 18px;
}



/* Footer Section: */

footer{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.footer-section{
  display: flex;
  justify-content:space-between;
  padding:100px 0;
}

.footer-section ul{
  display:table-footer-group;
}

.footer-section li{
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: var(--primary-color);
}




/* Responsive styles for mobile */
@media only screen and (max-width: 480px) {
  *{
    margin: 0 auto;
    padding: 0;
    overflow:scroll;
    line-height: 1;
  }
  p{
    font-size: 16px;
  }

  /*burger-menu:*/

  .burger-menu {
    display: block;
  }

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top:  9%;
    left:0;
    background-color: #f9f9f9;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.menu.open {
    display: flex;
}

.menu li {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

  .homepage{
    display: flex;
    text-align: center;
  }
  .homepage-img{
    display: none;
  }
  .links-list{
    display:none;
  }
  .specials-main{
    margin: 20px auto;
  }

div.specials-top{
  margin: 0 auto;
    padding:20px 0;
    display: flex;
    flex-direction: column;
  }
  h3.specials{
    font-size: 30px;
    padding-bottom: 10px;
  }
  .special-menu-items{
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .customers-say{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .rating-card{
    margin-bottom: 20px;
  }
  .about{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  .about-p{
    padding: 20px 0;
  }
  .owners-image-2{
    display: none;
  }
  .owners-image-1{
    z-index: 2;
    position: relative;
    filter: none;
  }
  .call-to-action{
    padding: 40px 0;
  }
  .call-to-action p{
    padding: 20px 0;
  }
  .footer{
    margin: 0 auto;

  }
  .footer-section{
    display: flex;
    flex-direction: column-reverse;
    padding:20px 0;
  }
  .footer-section div{
    margin-bottom: 10px;
  }  .links-list div{
    padding-bottom: 20px;
  }
}