body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  padding:auto 210px;
  display: grid;
  height:100px;
  width:auto;
  grid-template-columns: 2fr auto;
}
header img{
  margin: auto;
  height: 65px;
  width: 216px;
  /* padding-left:210px; */
}

nav {
  display: grid;
  margin-right: 20rem;
  margin-top: auto;
  margin-bottom: auto;
  grid-template-columns: 1fr;
  background-color: white;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: #333333; 
  padding: 10px; 
  justify-content: flex-end;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 15px;
}
a {
  text-decoration: none;
  color: #333333;
}
main {
  height:1900px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer{
  height: 450px;
  width: auto;
  font-size: 20px;
}

footer div.footer{
  padding: 200px 210px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items:top;
}

footer ul{
  display:block;
  float: left;
  margin: auto;
  font-family: 'Karla', sans-serif;
}

.footer-header {
  font-weight:700;
}




@media only screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr; /* Change to a single column layout for tablets */
  }

  header img {
    margin-left: 0; /* Remove left margin for better alignment on smaller screens */
  }

  nav {
    margin: 0; /* Remove horizontal margin for better fit on smaller screens */
  }
  footer{
    padding: 0 20px;
  }
}

/* Responsive styles for mobile */
@media only screen and (max-width: 480px) {
  header {
    grid-template-columns: 1fr; /* Change to a single column layout for mobile */
    align-items: center;

  }
  header img {
    margin-left: 0; /* Remove left margin for better alignment on smaller screens */
  }

  nav {
    margin: 0; /* Remove horizontal margin for better fit on smaller screens */
  }
  footer{
    padding: 0 20px;
  }
}